* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: none;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
body {
    background-color: darkolivegreen;
  }

@media only screen and (min-width: 600px) {
    body {
    background-color: orangered;
  }
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    body {
    background-color:grey;
  }
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.header {
  border: none;
  border-radius: 15px;
  padding: 15px;
  background-image: url(../IMAGES/Volendam.jpg);
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
  max-width:100%;
  position:sticky;
  margin-left:auto;
  margin-right:auto;
  height:auto;
  color: white;
  text-align: center;
  padding: 100px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: white;
  color: black;
  text-align: start;
  font-size:medium;
}

h1 h2 h3 h4 h5 h6 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  word-break: keep-all;
  word-wrap: break-word;
}

img {
  float: right;
  width: 300px;
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

#Klederdracht {
  height: auto;
  align-self: center;
  background-color: orange;
  text-align: center;
  color:black;
}

#Visserij {
  height: auto;
  align-self: center;
  background-color: orange;
  text-align: center;
  color:black;
}

#Muziek {
  height: auto;
  align-self: center;
  background-color: orange;
  text-align: center;
  color:black;
}

#Voetbal {
  height: auto;
  align-self: center;
  background-color: orange;
  text-align: center;
  color:black;
}

#Bouw {
  height:auto;
  align-self: center;
  background-color: orange;
  text-align: center;
  color:black;
}

.menu ul {
  list-style-type:decimal;
  align-self: center;
  text-align: center;
  margin: auto;
  padding: 10px;
  height: 100%;
  color:white;
  }
  
  .menu li a {
    display:flex;
    text-align: center;
    padding: 20px;
    margin: 10%;
    color: white;
    text-decoration: none;
  }
    
  .menu li a:hover {
    background-color: olive;
    color: black;
  }